# yii console commands
/yii
/yii_test
/yii_test.bat

# phpstorm project files
.idea

# netbeans project files
nbproject

# zend studio for eclipse project files
.buildpath
.project
.settings

# windows thumbnail cache
Thumbs.db

# composer vendor dir
/vendor

# composer itself is not needed
composer.phar

# Mac DS_Store Files
.DS_Store

# phpunit itself is not needed
phpunit.phar
# local phpunit config
/phpunit.xml

# vagrant runtime
/.vagrant

_ide_helper.php

frontend/config/params-local.php
frontend/config/main-local.php
frontend/runtime/*
frontend/web/assets/*
frontend/web/index.php

backend/config/params-local.php
backend/config/main-local.php
backend/runtime/*
backend/web/assets/*
backend/web/index.php

common/config/params-local.php
common/config/main-local.php

console/config/main-local.php
console/config/params-local.php

api/config/main-local.php
api/config/params-local.php
api/runtime/*
api/web/assets/*
api/web/index.php